[build]
  command = "bun run build"
  publish = "dist"

[build.environment]
  BUN_VERSION = "latest"
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/entry"
  status = 200
